{% extends "ui/base.html" %}
{% load static %}
{% block content %}
<b>Polylexis/{{ shortdir }}</b>
<br>
<div class="folder-list">
<a href="{% url "index" %}">
  <img src="{% static "img/home.png" %}" alt="home">
  Home
</a><br>

{% if pardir|length > 1 %}
<a href="{% url "dirlist" dirname=pardir %}">
  <img src="{% static "img/back.png" %}" alt="back arrow">
  Back (parent folder)
</a><br>
{% endif %}

{% for d, display in dirs_links.items %}
<a href="{% url "dirlist" dirname=d %}"><img src="{% static "img/folder.png" %}" alt="folder">{{ display }}</a><br>
{% endfor %}
</div>

<div class="folder-list">
Word lists in this folder<br><br>

{% for fname, display in files_links.items %}
<a href="{% url "fileread" dirname=shortdir filename=fname %}">
  <img src="{% static "img/pencil.png" %}" alt="pencil">
  {{ display }}
</a><br>
{% endfor %}
</div>

{% endblock %}