{% extends "ui/base.html" %}
{% load static %}
{% block content %}
<div class="ctr">
<span id="back"><a href="{% url "dirlist" dirname=dirname %}"><img src="{% static "img/back.png" %}" alt="back arrow"></a></span>
<br>

{{ description }} <a href="{% url "answers" dirname=dirname filename=filename %}"><br>
<img src="{% static "img/list.png" %}" alt="list">Ver respostas</a>

<br><br>
<button id="inorder">Reset (em ordem)</button>
<button id="shuffled">Reset (embaralhado)</button>
<button id="swap">Trocar pergunta / resposta</button>

<br><br>

Digite = (igual) abaixo para revelar resposta<br>

Pergunta <span id="cur_q"></span> / <span id="num_q"></span>
    <br><br>
    <span id="prompt"></span>
    <br>
    <input id="textbox" size="30">
    <br>

    <span id="backend" style="display: none;"><a href="{% url "dirlist" dirname=dirname %}"><img src="{% static "img/back.png" %}" alt="back arrow"></a></span><br>
    
    <div id="notice"></div>

    <button id="advance" style="display: none;">Continuar</button>

    <div id="debug"></div>

</div>
{% endblock %}

{% block script %}
<script>
var questions = [
    {{ words_display|safe }}
];
</script>
<script src="{% static "js/quiz.js" %}"></script>
{% endblock %}
