{% extends "ui/base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/jquery.modal.min.css" %}">
<link rel="stylesheet" href="{% static "kb/kb.css" %}">
{% endblock %}

{% block content %}
<div class="ctr">

<span id="back"><a href="{% url "dirlist" dirname=dirname %}"><img src="{% static "img/back.png" %}" alt="back arrow"></a></span>
<img src="{% static "img/restart.png" %}" alt="round arrow" id="inorder">
<img src="{% static "img/shuffle.png" %}" alt="colored arrows" id="shuffled">
<img src="{% static "img/swap.png" %}" alt="A to B" id="swap">
<a href="#helpmodal" rel="modal:open"><img src="{% static "img/help.png" %}" alt="(?)"></a>

<div id="helpmodal" class="modal">
  <img src="{% static "img/restart.png" %}" alt="round arrow"> Reiniciar (em ordem)<br>
  <img src="{% static "img/shuffle.png" %}" alt="colored arrows"> Reiniciar (embaralhado)<br>
  <img src="{% static "img/swap.png" %}" alt="A to B"> Trocar visível/escondido
  
  <ul>
    <li>Digite $ ou = para revelar a resposta</li>
    <li>Com resposta correta, digite Enter para continuar</li>
  </ul>
</div>

<br>

{{ description|safe }}

<br>

    <span id="cur_q"></span>/<span id="num_q"></span>

    <button id="reveal">Ver resposta</button>
    <button id="backend" style="display: none;"><img src="{% static "img/back.png" %}" alt="back arrow"></button>
    <button id="advance" style="display: none;">Continuar</button>



<br>

    <span id="prompt"></span>
 
    <br>

    <input id="textbox" size="30">
    <br>

    <div id="notice"></div>
    <div id="debug"></div>

<table id="lowertbl" class="kb" style="display: inline-block;">
<tr>
<td class="key" onclick="hl(this); addLetter('α');">α</td>
<td class="key" onclick="hl(this); addLetter('β');">β</td>
<td class="key" onclick="hl(this); addLetter('γ');">γ</td>
<td class="key" onclick="hl(this); addLetter('δ');">δ</td>
<td class="key" onclick="hl(this); addLetter('ε');">ε</td>
<td class="key" onclick="hl(this); addLetter('ζ');">ζ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('η');">η</td>
<td class="key" onclick="hl(this); addLetter('θ');">θ</td>
<td class="key" onclick="hl(this); addLetter('ι');">ι</td>
<td class="key" onclick="hl(this); addLetter('κ');">κ</td>
<td class="key" onclick="hl(this); addLetter('λ');">λ</td>
<td class="key" onclick="hl(this); addLetter('μ');">μ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('ν');">ν</td>
<td class="key" onclick="hl(this); addLetter('ξ');">ξ</td>
<td class="key" onclick="hl(this); addLetter('ο');">ο</td>
<td class="key" onclick="hl(this); addLetter('π');">π</td>
<td class="key" onclick="hl(this); addLetter('ρ');">ρ</td>
<td class="key" onclick="hl(this); addLetter('σ');">σ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('ς');">ς</td>
<td class="key" onclick="hl(this); addLetter('τ');">τ</td>
<td class="key" onclick="hl(this); addLetter('υ');">υ</td>
<td class="key" onclick="hl(this); addLetter('φ');">φ</td>
<td class="key" onclick="hl(this); addLetter('χ');">χ</td>
<td class="key" onclick="hl(this); addLetter('ψ');">ψ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('ω');">ω</td>
<td class="ctrl" onclick="togglecaps();"><img src="/static/img/caps.png" alt="caps"></td>
<td class="ctrl" onclick="toggleaccent();"><img src="/static/img/accent.png" alt="acc"></td>
<td class="key" onclick="hl(this); addLetter('\'');"><img src="/static/img/apostrophe.png" alt="apostr"></td>
<td class="key" onclick="hl(this); backspace();"><img src="/static/img/bs.png" alt="bs"></td>
</tr>

<tr>
<td class="key" colspan="5" onclick="hl(this); addLetter(' ');">espaço</td>
<td class="del" onclick="clr();"><img src="/static/img/x.png" alt="x"></td>
</tr>
</table>


<table id="lowertblaccent" class="kb" style="display: none;">
<tr>
<td class="key" onclick="hl(this); addLetter('ά');">ά</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('έ');">έ</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('ή');">ή</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('ί');">ί</td>
<td class="key" onclick="hl(this); addLetter('ϊ');">ϊ</td>
<td class="key" onclick="hl(this); addLetter('ΐ');">ΐ</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('ό');">ό</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('ύ');">ύ</td>
<td class="key" onclick="hl(this); addLetter('ϋ');">ϋ</td>
<td class="key" onclick="hl(this); addLetter('ΰ');">ΰ</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('ώ');">ώ</td>
<td class="ctrl" onclick="togglecaps();"><img src="/static/img/caps.png" alt="caps"></td>
<td class="ctrl" onclick="toggleaccent();"><img src="/static/img/accent.png" alt="acc"></td>
<td class="key" onclick="hl(this); addLetter('\'');"><img src="/static/img/apostrophe.png" alt="apostr"></td>
<td class="key" onclick="hl(this); backspace();"><img src="/static/img/bs.png" alt="bs"></td>
</tr>

<tr>
<td class="key" colspan="5" onclick="hl(this); addLetter(' ');">espaço</td>
<td class="del" onclick="clr();"><img src="/static/img/x.png" alt="x"></td>
</tr>
</table>


<table id="capstbl" class="kb" style="display: none;">
<tr>
<td class="key" onclick="hl(this); addLetter('Α');">Α</td>
<td class="key" onclick="hl(this); addLetter('Β');">Β</td>
<td class="key" onclick="hl(this); addLetter('Γ');">Γ</td>
<td class="key" onclick="hl(this); addLetter('Δ');">Δ</td>
<td class="key" onclick="hl(this); addLetter('Ε');">Ε</td>
<td class="key" onclick="hl(this); addLetter('Ζ');">Ζ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('Η');">Η</td>
<td class="key" onclick="hl(this); addLetter('Θ');">Θ</td>
<td class="key" onclick="hl(this); addLetter('Ι');">Ι</td>
<td class="key" onclick="hl(this); addLetter('Κ');">Κ</td>
<td class="key" onclick="hl(this); addLetter('Λ');">Λ</td>
<td class="key" onclick="hl(this); addLetter('Μ');">Μ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('Ν');">Ν</td>
<td class="key" onclick="hl(this); addLetter('Ξ');">Ξ</td>
<td class="key" onclick="hl(this); addLetter('Ο');">Ο</td>
<td class="key" onclick="hl(this); addLetter('Π');">Π</td>
<td class="key" onclick="hl(this); addLetter('Ρ');">Ρ</td>
<td class="key" onclick="hl(this); addLetter('Σ');">Σ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('Σ');">Σ</td>
<td class="key" onclick="hl(this); addLetter('Τ');">Τ</td>
<td class="key" onclick="hl(this); addLetter('Υ');">Υ</td>
<td class="key" onclick="hl(this); addLetter('Φ');">Φ</td>
<td class="key" onclick="hl(this); addLetter('Χ');">Χ</td>
<td class="key" onclick="hl(this); addLetter('Ψ');">Ψ</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('Ω');">Ω</td>
<td class="ctrl" onclick="togglecaps();"><img src="/static/img/caps.png" alt="caps"></td>
<td class="ctrl" onclick="toggleaccent();"><img src="/static/img/accent.png" alt="acc"></td>
<td class="key" onclick="hl(this); addLetter('\'');"><img src="/static/img/apostrophe.png" alt="apostr"></td>
<td class="key" onclick="hl(this); backspace();"><img src="/static/img/bs.png" alt="bs"></td>
</tr>

<tr>
<td class="key" colspan="5" onclick="hl(this); addLetter(' ');">espaço</td>
<td class="del" onclick="clr();"><img src="/static/img/x.png" alt="x"></td>
</tr>
</table>



<table id="capstblaccent" class="kb" style="display: none;">
<tr>
<td class="key" onclick="hl(this); addLetter('Ά');">Ά</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('Έ');">Έ</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('Ή');">Ή</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('Ί');">Ί</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('Ό');">Ό</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key" onclick="hl(this); addLetter('Ύ');">Ύ</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
<td class="key disabled">&nbsp;</td>
</tr>

<tr>
<td class="key" onclick="hl(this); addLetter('Ώ');">Ώ</td>
<td class="ctrl" onclick="togglecaps();"><img src="/static/img/caps.png" alt="caps"></td>
<td class="ctrl" onclick="toggleaccent();"><img src="/static/img/accent.png" alt="acc"></td>
<td class="key" onclick="hl(this); addLetter('\'');"><img src="/static/img/apostrophe.png" alt="apostr"></td>
<td class="key" onclick="hl(this); backspace();"><img src="/static/img/bs.png" alt="bs"></td>
</tr>

<tr>
<td class="key" colspan="5" onclick="hl(this); addLetter(' ');">espaço</td>
<td class="del" onclick="clr();"><img src="/static/img/x.png" alt="x"></td>
</tr>
</table>


</div>
{% endblock %}

{% block script %}
<script>
var questions = [
    {{ words_display|safe }}
];
</script>
<script src="{% static "js/quiz.js" %}"></script>
<script src="{% static "kb/kb.js" %}"></script>
<script src="{% static "js/jquery.modal.min.js" %}"></script>
{% endblock %}
