{% extends "ui/base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/jquery.modal.min.css" %}">
{% endblock %}

{% block content %}
<div class="ctr">

<span id="back"><a href="{% url "dirlist" dirname=dirname %}"><img src="{% static "img/back.png" %}" alt="back arrow"></a></span>
<br>

{{ description }}

<br><br>
<button id="inorder"><img src="{% static "img/restart.png" %}" alt="round arrow"></button>
<button id="shuffled"><img src="{% static "img/shuffle.png" %}" alt="colored arrows"></button>
<button id="swap"><img src="{% static "img/swap.png" %}" alt="A to B"></button>

<div id="helpmodal" class="modal">
<img src="{% static "img/restart.png" %}" alt="round arrow"> Voltar ao início (palavras em ordem)<br>
<img src="{% static "img/shuffle.png" %}" alt="colored arrows"> Voltar ao início (palavras embaralhadas)<br>
<img src="{% static "img/swap.png" %}" alt="A to B"> Trocar palavras visíveis com respostas<br>
<img src="{% static "img/wizard.png" %}" alt="wand"> Revelar resposta (ou digite $ na caixa de texto)
</div>

<a href="#helpmodal" rel="modal:open"><img src="{% static "img/help.png" %}" alt="(?)"></a>

<br>

Pergunta <span id="cur_q"></span> / <span id="num_q"></span>
    <br>
    <span id="prompt"></span>
    <br>

    <input id="textbox" size="30">
    <button id="reveal"><img src="{% static "img/wizard.png" %}" alt="wand"></button>

    <br>
    <span id="backend" style="display: none;"><a href="{% url "dirlist" dirname=dirname %}"><img src="{% static "img/back.png" %}" alt="back arrow"></a></span>
    

    <button id="advance" style="display: none;">Continuar</button>
    <br>
    <div id="notice"></div>

    <div id="debug"></div>

</div>
{% endblock %}

{% block script %}
<script>
var questions = [
    {{ words_display|safe }}
];
</script>
<script src="{% static "js/quiz.js" %}"></script>
<script src="{% static "js/jquery.modal.min.js" %}"></script>
{% endblock %}
