.kb table {
    border: 0px;
    border-collapse: separate;
}

.kb td {
    width: 29px;
    height: 24px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    padding: 2px;
}

.key {
    border: 2px solid #66E;
}

.ctrl {
    border: 2px solid #191;
}

.del {
    border: 2px solid #C33;
}

.disabled {
    background-color: #AAA;
}

.hl {
    background-color: #CDE;
}
