.kb {
border: 0px;
}

.kb td {
width: 24px;
height: 24px;
text-align: center;
font-size: 18px;
border-radius: 5px;
padding: 3px;
}

.key {
border: 2px solid #33C;
}

.ctrl {
border: 2px solid #191;
}

.del {
border: 2px solid #C33;
}

.disabled {
background-color: #AAA;
}
