{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    {% block stylesheet %}{% endblock %}
    <style>
    @font-face {
      font-family: 'gfsneoh';
      src: url('{% static 'fonts/gfsneoh.ttf' %}') format('truetype');
      font-style: normal;
    }

    @font-face {
      font-family: 'gfsneoh';
      src: url('{% static 'fonts/gfsneohb.ttf' %}') format('truetype');
      font-style: normal;
      font-weight: bold;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Polylexis</title>
  </head>
  <body>
    <div class='navbar'><a href='/'>Polylexis</a></div>
    <div id="mainbody" v-cloak>
    
      {% block content %}
      {% endblock %}
    </div>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script>
      var app = new Vue({
        el: "#mainbody",
        data: {
          appname: "Polylexis"
        }
      });
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
