{% extends "ui/base.html" %}
{% load static %}

{% block content %}
<div class="ctr">
<h1>Polylexis Vocabulary Quizzes</h1>

<table style="display: inline; text-align: left;">

<tr><td>
<a href="/projects/grego_moderno/">
<img src="{% static "img/gr.png" %}" alt="greek flag">
Grego moderno
</a>
</td></tr>

<!--
<tr><td>
<a href="/dicionario/">
<img src="{% static "img/book.png" %}" alt="book">
Dicionário Grego-Português
</a>
</td></tr>
-->

<tr><td>
<a href="/projects/mandarin/online-course/">
<img src="{% static "img/cn.png" %}" alt="chinese flag">
Mandarin
</a>
</td></tr>

</table>

<br>
<a href="https://github.com/heitorchang/polylexis/" target="_blank">Source code and License</a>
</div>
{% endblock %}